version: "2.1"

services:
  postgres:
    image: postgres:12.5-alpine
    restart: unless-stopped
    environment:
      - POSTGRES_DB=covid_portal
      - POSTGRES_USER=portal
      - POSTGRES_PASSWORD=ur8LKDdfRjJdNA56LtY2
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  adminer:
    image: adminer:4.7.7
    restart: unless-stopped
    ports:
      - "127.0.0.1:8081:8080"
    environment:
      ADMINER_DEFAULT_SERVER: postgres
    depends_on:
      postgres:
        condition: service_healthy

  portal:
    environment:
      DATABASE_URL: "postgres://portal:ur8LKDdfRjJdNA56LtY2@postgres:5432/covid_portal"
      DJANGO_ENV: production
      DJANGO_SECRET_KEY: 8K4sQi1tWGP1Dp-PJ87tWDfRAJLnXGpStfXD75ai9F4
      DJANGO_ALLOWED_HOSTS: ".covidmongolia.app,localhost"
      # DJANGO_ADMINS: "[('amarbayar.amarsanaa@gmail.com', 'shinebayar.gansukh@gmail.com')]"
      SU_DEFAULT_PASSWORD: 7yTR9Mc7qFBnHP9mFwcu
      # EMAIL_BACKEND: django.core.mail.backends.smtp.EmailBackend
      DEFAULT_FROM_EMAIL: notification@covidmongolia.app
      # EMAIL_HOST: ""
      # EMAIL_PORT: ""
      # EMAIL_HOST_USER: ""
      # EMAIL_HOST_PASSWORD: ""
      # EMAIL_USE_TLS: "True"
      API_ENDPOINT: "https://key-submission.covidmongolia.app/new-key-claim"
      API_AUTHORIZATION: "VMn9C4rMHquRDepnANu7hZuAnDsvqdZs"
    build: .
    restart: unless-stopped
    ports:
      - "127.0.0.1:3000:3000"
    command: ./entrypoint.sh
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - .:/code

volumes:
  postgres-data:

