{% load static %}
{% load i18n %}

<footer>
    <div class="page--container">
        <div class="footer-links">
            <ul>
                <li><a href="{% url 'contact:index' %}">{% trans "Contact us" %}</a></li>
                <li><a href="{% url 'quick_guide' %}">{% trans "Quick guide" %}</a></li>
                <li><a href="{% url 'privacy' %}">{% trans "Privacy" %}</a></li>
                <li><a href="{% url 'terms' %}">{% trans "Terms of use" %}</a></li>
            </ul>
        </div>
        <div class="canada-wordmark"><img src="{% static 'img/Flag_of_Mongolia.svg' %}" alt="{% trans 'Mongolian National Flag' %}" /></div>
    </div>
</footer>
